@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --background-color: #1E201E;
    --secondary-background-color: rgba(60, 61, 55, 0.8);
    --text-color: #EEF0E5;
    --input-background-color: rgb(71, 75, 69);
    --button-color: #609966;
    --button-hover-color: #9DC08B;
    --delete-button-color: #C94A4A;
}

* {
    font-family: 'Poppins', Arial, sans-serif;
}

body {
    position: relative;
    background: url('/assets/background.png') no-repeat center center fixed;
    background-size: cover;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh; 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 14, 7, 0.9); /* Black transparent overlay */
    z-index: -1;
}

h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    margin-top: 120px; 
    width: 90%;
}